@media screen and (max-width: 991px) {

  /* NAVBAR */
  .menu-items {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    padding: 20px 15px;
  }
}